#Template: rubabase_initializer.rb.tt

Rubabase::Client.configure do |config|
    config.project_url = Rails.application.credentials.dig(:supabase, :url)
    config.public_key = Rails.application.credentials.dig(:supabase, :public_key)
    config.service_key = Rails.application.credentials.dig(:supabase, :service_key)
end